@mixin hover-btn($color) {
    transition: .3s;

    @if $color==$aqua-color {
        &:hover {
            background-color: $red-color;
        }
    }

    @else {
        &:hover {
            background-color: $aqua-color;
        }
    }
}

@mixin form {
    color-scheme: dark;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.616);
    outline: none;
    padding: 16px 30px;
}

