@mixin hover-btn($color) {
    @if $color==$aqua-color {
        @keyframes btn-hover {
            0%{
                background-color: $color;
            }

            50%{
                background-color: gray;
            }
            100%{
                background-color: $red-color;
            }
        }
    }
    @else{
        @keyframes btn-hover{
            0%{
                background-color: $color;
            }

            50%{
                background-color: gray;
            }
            100%{
                background-color: $aqua-color;
            }
        }
    }
    animation-name: btn-hover;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

