@font-face {
  font-family: "Nothing You Could Do";
  src: url("../assets/fonts/NothingYouCouldDo.woff2") format("woff2"), url("../assets/fonts/NothingYouCouldDo.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-LightItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Light.woff2") format("woff2"), url("../assets/fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Black.woff2") format("woff2"), url("../assets/fonts/Rubik-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Italic.woff2") format("woff2"), url("../assets/fonts/Rubik-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Rubik-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-LightItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Light.woff2") format("woff2"), url("../assets/fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-MediumItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-SemiBold.woff2") format("woff2"), url("../assets/fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
*::-moz-selection {
  color: white;
  background-color: rgb(56, 60, 65);
}
*::selection {
  color: white;
  background-color: rgb(56, 60, 65);
}

main {
  padding-top: 90px;
}
main .country {
  position: relative;
  width: 100%;
  height: 86vh;
  background: black;
}
main .country img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .country .slide {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .country .slide .country-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .country .slide .country-content h1 {
  color: white;
  font-size: 150px;
  font-weight: 100;
  font-family: "Nothing You Could Do";
}
main .country .slide .country-content p {
  color: white;
  font-weight: 400;
  font-family: "rubik";
}
main .country .slide .country-content a {
  font-family: "rubik";
  color: white;
  margin-top: 40px;
  padding: 15px 30px;
  background-color: rgb(32, 198, 182);
  border-radius: 3px;
  transition: 0.3s;
}
main .country .slide .country-content a:hover {
  background-color: rgb(255, 74, 83);
}
main .country .slide .slideIcon {
  cursor: pointer;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.295);
  transition: 0.2s;
}
main .country .slide .slideIcon i {
  transition: 0.2s;
  color: white;
}
main .country .slide .slideIcon:hover {
  background-color: #fff;
}
main .country .slide .slideIcon:hover i {
  color: rgb(4, 14, 39);
}
main .wantToGo {
  padding: 40px 11%;
  background-color: rgb(4, 14, 39);
  font-family: "rubik";
}
main .wantToGo .container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .wantToGo .container form h2 {
  font-weight: 300;
  color: white;
}
main .wantToGo .container form input {
  color-scheme: dark;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.616);
  outline: none;
  padding: 16px 30px;
}
main .wantToGo .container form input::-moz-placeholder {
  color: white;
}
main .wantToGo .container form input::placeholder {
  color: white;
}
main .wantToGo .container form select {
  color-scheme: dark;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.616);
  outline: none;
  padding: 16px 30px;
}
main .wantToGo .container form select option {
  color: rgb(4, 14, 39);
}
main .wantToGo .container form button {
  border: none;
  padding: 15px 30px;
  border-radius: 3px;
  background-color: rgb(255, 74, 83);
  color: white;
  cursor: pointer;
}
main .wantToGo .container form button:hover {
  transition: 0.3s;
}
main .wantToGo .container form button:hover:hover {
  background-color: rgb(32, 198, 182);
}
main .destination-home {
  padding: 10rem 11%;
  font-family: "rubik";
}
main .destination-home .content-part-destination {
  text-align: center;
}
main .destination-home .content-part-destination h2 {
  font-size: 40px;
  font-weight: 400;
}
main .destination-home .content-part-destination p {
  color: rgb(122, 131, 151);
  padding: 3rem 150px;
}
main .destination-home .img-part-destination {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
main .destination-home .img-part-destination .images-destination {
  position: relative;
}
main .destination-home .img-part-destination .images-destination .background-black {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.2s;
  background-color: black;
}
main .destination-home .img-part-destination .images-destination .background-black img {
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
main .destination-home .img-part-destination .images-destination .background-black span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  transition: 0.2s;
  color: white;
}
main .destination-home .img-part-destination .images-destination .background-black span a {
  color: white;
  font-size: 12px;
  background-color: rgb(32, 198, 182);
  padding: 5px 10px;
  transition: 0.2s;
  border-radius: 20px;
}
main .destination-home .img-part-destination .images-destination:hover .background-black {
  bottom: 10px;
}
main .destination-home .img-part-destination .images-destination:hover span {
  color: rgb(255, 74, 83);
}
main .destination-home .img-part-destination .images-destination:hover span a {
  background-color: rgb(255, 74, 83);
}
main .subscribe {
  width: 100%;
  height: 30vh;
  background-color: rgb(14, 21, 36);
  font-family: "rubik";
  position: relative;
}
main .subscribe img {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .subscribe .content {
  width: 100%;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .subscribe .content .subscribe-header {
  width: 30%;
}
main .subscribe .content .subscribe-header h2 {
  font-weight: 400;
  color: white;
}
main .subscribe .content .subscribe-header p {
  color: rgb(122, 131, 151);
}
main .subscribe .content .subscribe-input {
  display: flex;
  gap: 10px;
}
main .subscribe .content .subscribe-input input {
  border: none;
  outline: none;
  padding: 1rem 11rem 1rem 10px;
  border-radius: 4px;
}
main .subscribe .content .subscribe-input input::-moz-placeholder {
  color: rgb(122, 131, 151);
}
main .subscribe .content .subscribe-input input::placeholder {
  color: rgb(122, 131, 151);
}
main .subscribe .content .subscribe-input button {
  cursor: pointer;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 1rem 30px;
  background-color: rgb(255, 74, 83);
  transition: 0.3s;
}
main .subscribe .content .subscribe-input button:hover {
  background-color: rgb(32, 198, 182);
}
main .popular-places {
  font-family: "rubik";
  background-color: rgb(248, 250, 253);
  padding: 8rem 11%;
}
main .popular-places .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .popular-places .container .content-part-places {
  width: 50%;
  text-align: center;
}
main .popular-places .container .content-part-places h2 {
  color: rgb(4, 14, 39);
  font-size: 35px;
  font-weight: 400;
}
main .popular-places .container .content-part-places p {
  padding: 20px 0;
  color: rgb(122, 131, 151);
}
main .popular-places .container .img-part-places {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
main .popular-places .container .img-part-places .img-cards-places {
  transition: 0.3s;
  border-radius: 7px;
  overflow: hidden;
}
main .popular-places .container .img-part-places .img-cards-places .images-places {
  background-color: white;
  position: relative;
}
main .popular-places .container .img-part-places .img-cards-places .images-places img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .popular-places .container .img-part-places .img-cards-places .images-places a {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 13px;
  background-color: rgb(32, 198, 182);
  padding: 8px 15px;
  border-radius: 20px;
  transition: 0.3s;
}
main .popular-places .container .img-part-places .img-cards-places .content-places {
  background-color: white;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .popular-places .container .img-part-places .img-cards-places .content-places .header-content-places {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .popular-places .container .img-part-places .img-cards-places .content-places .header-content-places a {
  transition: 0.3s;
  color: rgb(4, 14, 39);
  font-size: 20px;
}
main .popular-places .container .img-part-places .img-cards-places .content-places .header-content-places p {
  font-size: 12px;
  color: rgb(122, 131, 151);
}
main .popular-places .container .img-part-places .img-cards-places .content-places .bottom-content-places {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .popular-places .container .img-part-places .img-cards-places .content-places .bottom-content-places .rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main .popular-places .container .img-part-places .img-cards-places .content-places .bottom-content-places .rate span {
  display: flex;
  gap: 0;
}
main .popular-places .container .img-part-places .img-cards-places .content-places .bottom-content-places .rate span i {
  color: rgb(253, 174, 92);
  margin: 0;
  padding: 0;
  font-size: 10px;
}
main .popular-places .container .img-part-places .img-cards-places .content-places .bottom-content-places .rate a {
  font-size: 13px;
  color: rgb(122, 131, 151);
}
main .popular-places .container .img-part-places .img-cards-places .content-places .bottom-content-places .remaining-time span {
  display: flex;
  gap: 10px;
  font-size: 12px;
  color: rgb(122, 131, 151);
}
main .popular-places .container .img-part-places .img-cards-places .content-places .bottom-content-places .remaining-time span a {
  color: rgb(122, 131, 151);
}
main .popular-places .container .img-part-places .img-cards-places:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
main .popular-places .container .img-part-places .img-cards-places:hover .images-places a {
  background-color: rgb(255, 74, 83);
}
main .popular-places .container .img-part-places .img-cards-places:hover .content-places .header-content-places a {
  color: rgb(255, 74, 83);
}
main .video {
  background-color: black;
  height: 80vh;
  position: relative;
}
main .video img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
main .video .content-video {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}
main .video .content-video h1 {
  color: white;
  font-weight: 400;
  font-size: 80px;
  font-family: "Nothing You Could Do";
}
main .video .content-video i {
  font-size: 15px;
  padding: 30px 32px;
  color: white;
  background-color: rgb(32, 198, 182);
  border-radius: 50%;
}
main .travel-part {
  padding: 50px 11%;
  font-family: "rubik";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .travel-part div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .travel-part div i {
  font-size: 50px;
  color: rgb(255, 74, 83);
}
main .travel-part div h4 {
  font-weight: 400;
  font-size: 20px;
  color: rgb(4, 14, 39);
}
main .travel-part div p {
  color: rgb(122, 131, 151);
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}
main .author {
  font-family: "rubik";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  background-color: rgb(248, 250, 253);
  text-align: center;
  gap: 30px;
}
main .author .author-logo {
  position: relative;
}
main .author .author-logo .author-img {
  overflow: hidden;
  border-end-end-radius: 50%;
}
main .author .author-logo .author-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .author .author-logo i {
  color: white;
  background-color: rgb(32, 198, 182);
  padding: 15px 16px;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  left: 70px;
}
main .author .author-content {
  width: 45%;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main .author .author-content p {
  color: rgb(4, 14, 39);
}
main .author .author-content h4 {
  font-weight: 400;
  color: rgb(122, 131, 151);
}
main .author .author-content .span {
  display: flex;
  gap: 10px;
}
main .author .author-content .span span {
  border-radius: 50%;
  padding: 6px;
  background-color: rgb(122, 131, 151);
}
main .author .author-content .span span:nth-child(2) {
  background-color: rgb(255, 74, 83);
}
main .recent-trips {
  padding: 10rem 11%;
  font-family: "rubik";
}
main .recent-trips .container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
main .recent-trips .container h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
}
main .recent-trips .container .recent-trips-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 25px;
}
main .recent-trips .container .recent-trips-cards .trips-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
main .recent-trips .container .recent-trips-cards .trips-card .trip-img {
  width: 100%;
  overflow: hidden;
  border-radius: 7px 7px 0 0;
}
main .recent-trips .container .recent-trips-cards .trips-card .trip-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .recent-trips .container .recent-trips-cards .trips-card .trip-content {
  width: 100%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
main .recent-trips .container .recent-trips-cards .trips-card .trip-content span {
  font-size: 13px;
  color: rgb(122, 131, 151);
}
main .recent-trips .container .recent-trips-cards .trips-card .trip-content a {
  font-size: 20px;
  color: rgb(4, 14, 39);
  transition: 0.3s;
}
main .recent-trips .container .recent-trips-cards .trips-card:hover .trip-content a {
  color: rgb(255, 74, 83);
}

@media (max-width: 1200px) {
  main {
    padding-top: 70px;
  }
  main .country .slide .country-content h1 {
    font-size: 100px;
  }
  main .wantToGo .container form {
    gap: 2px;
  }
  main .wantToGo .container form h2 {
    font-size: 20px;
  }
  main .wantToGo .container form input {
    padding: 10px 20px;
  }
  main .wantToGo .container form select {
    padding: 10px 20px;
  }
  main .wantToGo .container form button {
    padding: 10px 20px;
  }
}
@media (max-width: 991px) {
  main {
    padding-top: 140px;
  }
  main .country .slide .country-content h1 {
    font-size: 80px;
  }
  main .wantToGo .container form {
    flex-direction: column;
    gap: 30px;
  }
  main .wantToGo .container form h2 {
    font-size: 30px;
  }
  main .wantToGo .container form input {
    width: 100%;
    padding: 10px 20px;
  }
  main .wantToGo .container form select {
    width: 100%;
    padding: 10px 20px;
  }
  main .wantToGo .container form button {
    width: 100%;
    padding: 10px 20px;
  }
  main .destination .content-part-destination p {
    padding: 2rem 100px;
  }
  main .destination .img-part-destination {
    grid-template-columns: repeat(2, 1fr);
  }
  main .subscribe .content {
    padding: 0 11%;
    flex-direction: column;
    align-items: start;
  }
  main .subscribe .content .subscribe-header {
    width: 100%;
  }
  main .popular-places .container .img-part-places {
    grid-template-columns: repeat(2, 1fr);
  }
  main .travel-part {
    grid-template-columns: repeat(1, 1fr);
  }
  main .recent-trips .container .recent-trips-cards {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  main .recent-trips .container .recent-trips-cards .trips-card .trip-content {
    padding: 0;
  }
}
@media (max-width: 768px) {
  main {
    padding-top: 140px;
  }
  main .country .slide {
    display: block;
  }
  main .country .slide .country-content {
    padding: 20px;
  }
  main .country .slide .country-content h1 {
    font-size: 55px;
  }
  main .country .slide .slideIcon {
    display: none;
  }
  main .wantToGo .container form {
    flex-direction: column;
  }
  main .wantToGo .container form h2 {
    font-size: 25px;
  }
  main .destination .content-part-destination p {
    padding: 1rem 30px;
  }
  main .subscribe {
    width: 100%;
    height: 50vh;
  }
  main .subscribe .content .subscribe-input {
    width: 100%;
    flex-direction: column;
  }
  main .popular-places .container .content-part-places {
    width: 100%;
  }
  main .popular-places .container .img-part-places .img-cards-places .content-places .header-content-places a {
    font-size: 16px;
  }
  main .popular-places .container .img-part-places .img-cards-places .content-places .header-content-places p {
    font-size: 10;
  }
  main .popular-places .container .img-part-places .img-cards-places .content-places .bottom-content-places {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  main .destination .content-part-destination p {
    padding: 1rem 0px;
  }
  main .destination .img-part-destination {
    grid-template-columns: repeat(1, 1fr);
  }
  main .popular-places .container .img-part-places {
    grid-template-columns: repeat(1, 1fr);
  }
  main .video .content-video h1 {
    font-size: 50px;
  }
  main .author {
    padding: 5rem 11%;
  }
  main .author .author-content {
    width: 100%;
  }
  main .recent-trips {
    padding: 5rem 11%;
  }
}
main .about {
  background-color: black;
  height: 60vh;
  position: relative;
}
main .about img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .about .content-about {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}
main .about .content-about h1 {
  color: white;
  font-weight: 400;
  font-size: 80px;
  font-family: "Nothing You Could Do";
}
main .about .content-about p {
  color: white;
  font-family: "rubik";
}
main .story {
  padding: 7rem 11%;
  font-family: "rubik";
}
main .story h1 {
  font-size: 40px;
  font-weight: 400;
}
main .story .container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .story .container .story-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}
main .story .container .story-content p {
  line-height: 30px;
  color: rgb(122, 131, 151);
}
main .story .container .story-img-part {
  display: flex;
  justify-content: center;
  gap: 40px;
}
main .story .container .story-img-part .img-story img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .story .container .story-statics-part {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
main .story .container .story-statics-part .static-story h3 {
  font-size: 50px;
  font-weight: 400;
  color: rgb(255, 74, 83);
}
main .story .container .story-statics-part .static-story span {
  color: rgb(122, 131, 151);
}

@media (max-width: 991px) {
  main .story .container {
    padding: 40px 70px;
  }
  main .story .container .story-content {
    width: 100%;
  }
  main .story .container .story-img-part {
    flex-direction: column;
  }
  main .story .container .story-statics-part {
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  }
}
@media (max-width: 576px) {
  main .about .content-about h1 {
    font-size: 50px;
  }
  main .story .container {
    padding: 20px 0;
  }
}
main .destination {
  background-color: black;
  height: 60vh;
  position: relative;
}
main .destination img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .destination .content-destination {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}
main .destination .content-destination h1 {
  color: white;
  font-weight: 400;
  font-size: 80px;
  font-family: "Nothing You Could Do";
}
main .destination .content-destination p {
  color: white;
  font-family: "rubik";
}
main .popular-places-destination {
  font-family: "rubik";
  background-color: rgb(248, 250, 253);
  padding: 8rem 11%;
  width: 100%;
}
main .popular-places-destination .container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
main .popular-places-destination .container .filter {
  width: 40%;
}
main .popular-places-destination .container .filter h4 {
  font-weight: 500;
  font-size: 18px;
}
main .popular-places-destination .container .filter form {
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.327);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .popular-places-destination .container .filter form select {
  padding: 15px;
  width: 100%;
  color: rgb(122, 131, 151);
  border: 1px solid rgba(128, 128, 128, 0.327);
  background-color: transparent;
}
main .popular-places-destination .container .filter form h6 {
  font-weight: 400;
  font-size: 17px;
}
main .popular-places-destination .container .filter form h6::after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background-color: rgb(255, 74, 83);
}
main .popular-places-destination .container .filter form span {
  color: rgb(122, 131, 151);
}
main .popular-places-destination .container .filter form a {
  text-align: center;
  width: 100%;
  background-color: rgb(255, 74, 83);
  padding: 20px;
  color: white;
  transition: 0.3s;
}
main .popular-places-destination .container .filter form a:hover {
  background-color: rgb(32, 198, 182);
}
main .popular-places-destination .container .content-part-places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .popular-places-destination .container .content-part-places h2 {
  color: rgb(4, 14, 39);
  font-size: 35px;
  font-weight: 400;
}
main .popular-places-destination .container .content-part-places p {
  padding: 20px 0;
  color: rgb(122, 131, 151);
}
main .popular-places-destination .container .img-part-places {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .popular-places-destination .container .img-part-places .img-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places {
  transition: 0.3s;
  border-radius: 7px;
  overflow: hidden;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .images-places {
  background-color: white;
  position: relative;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .images-places img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .images-places a {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 13px;
  background-color: rgb(32, 198, 182);
  padding: 8px 15px;
  border-radius: 20px;
  transition: 0.3s;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places {
  background-color: white;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .header-content-places {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .header-content-places a {
  transition: 0.3s;
  color: rgb(4, 14, 39);
  font-size: 20px;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .header-content-places p {
  font-size: 12px;
  color: rgb(122, 131, 151);
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .rate span {
  display: flex;
  gap: 0;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .rate span i {
  color: rgb(253, 174, 92);
  margin: 0;
  padding: 0;
  font-size: 10px;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .rate a {
  font-size: 13px;
  color: rgb(122, 131, 151);
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .remaining-time span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: rgb(122, 131, 151);
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .remaining-time span a {
  color: rgb(122, 131, 151);
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places:hover .images-places a {
  background-color: rgb(255, 74, 83);
}
main .popular-places-destination .container .img-part-places .img-cards .img-cards-places:hover .content-places .header-content-places a {
  color: rgb(255, 74, 83);
}
main .popular-places-destination .container .img-part-places .more-places {
  width: 40%;
  text-align: center;
  margin: auto;
  border-radius: 3px;
  padding: 17px;
  background-color: rgb(255, 74, 83);
  color: white;
  transition: 0.3s;
}
main .popular-places-destination .container .img-part-places .more-places:hover {
  background-color: rgb(32, 198, 182);
}

@media (max-width: 1200px) {
  main .popular-places-destination .container .filter {
    width: 50%;
  }
  main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .header-content-places a {
    font-size: 17px;
  }
  main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .rate span i {
    font-size: 8px;
  }
  main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .rate a {
    font-size: 10px;
  }
  main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .remaining-time span {
    gap: 2px;
    font-size: 10px;
  }
  main .popular-places-destination .container .img-part-places .img-cards .img-cards-places .content-places .bottom-content-places .remaining-time span i {
    font-size: 8px;
  }
}
@media (max-width: 991px) {
  main .popular-places-destination .container {
    flex-direction: column;
  }
  main .popular-places-destination .container .filter {
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .popular-places-destination {
    width: 100%;
  }
  main .popular-places-destination .container .img-part-places .img-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 576px) {
  main .destination .content-destination h1 {
    font-size: 50px;
  }
  main .popular-places-destination .container .img-part-places .more-places {
    width: 50%;
  }
}
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  font-family: "rubik";
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header .header {
  padding-left: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .nav-part {
  gap: 20px;
  display: flex;
  align-items: center;
}
header .header .nav-part .logo a img {
  border-right: 1px solid rgb(226, 226, 226);
  padding-right: 20px;
}
header .header .nav-part nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .header .nav-part nav ul li {
  padding: 20px 0;
  position: relative;
}
header .header .nav-part nav ul li .dropdown {
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  position: absolute;
  width: 150px;
  top: 40px;
  transition: all 0.2s;
  opacity: 0;
  z-index: -9999;
  gap: 10px;
}
header .header .nav-part nav ul li .dropdown li {
  padding: 12px;
}
header .header .nav-part nav ul li .dropdown li a:hover {
  color: rgb(4, 14, 39);
}
header .header .nav-part nav ul li .dropdown li:first-child {
  margin-bottom: 8px;
}
header .header .nav-part nav ul li:hover .dropdown {
  opacity: 1;
  top: 100%;
  z-index: 999;
}
header .header .nav-part nav ul li a {
  color: rgb(4, 14, 39);
  transition: 0.3s;
}
header .header .nav-part nav ul li a:hover {
  color: rgb(32, 198, 182);
}
header .header .nav-part nav ul li a:hover .dropdown {
  display: block;
}
header .header .contactParts {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .contactParts .num i {
  font-size: 12px;
  color: rgb(255, 74, 83);
}
header .header .contactParts .num span {
  color: rgb(4, 14, 39);
}
header .header .contactParts .socialMedia {
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 20px;
}
header .header .contactParts .socialMedia a i {
  color: rgb(122, 131, 151);
  margin-right: 20px;
  transition: 0.3s;
}
header .header .contactParts .socialMedia a i:hover {
  color: rgb(255, 74, 83);
}
header .header .contactParts .menu {
  display: none;
}
header .header .contactParts .search a i {
  color: white;
  padding: 40px;
  background-color: rgb(255, 74, 83);
}
header .media-part {
  display: none;
  justify-content: end;
  background-color: rgb(75, 75, 75);
  padding: 13px 20px;
}
header .media-part .menu {
  border-radius: 10px;
  background-color: black;
  padding: 10px 15px;
}
header .media-part .menu span,
header .media-part .menu i {
  color: white;
}

@media (max-width: 1200px) {
  header .header {
    padding-left: 2%;
  }
  header .header .nav-part {
    gap: 15px;
  }
  header .header .nav-part .logo a img {
    border: none;
    padding: 0;
  }
  header .header .contactParts {
    gap: 5px;
  }
  header .header .contactParts .socialMedia {
    padding: 0;
    border: none;
  }
  header .header .contactParts .socialMedia a i {
    margin: 5px;
  }
  header .header .contactParts .search a i {
    padding: 30px 25px;
  }
}
@media (max-width: 991px) {
  header .header {
    padding: 0 20px;
  }
  header .header .nav-part nav {
    display: none;
  }
  header .header .contactParts .num {
    display: none;
  }
  header .header .contactParts .socialMedia {
    display: none;
  }
  header .header .contactParts .menu {
    margin-right: 40px;
    color: rgb(4, 14, 39);
    display: block !important;
  }
  header .media-part {
    display: flex;
  }
}
footer {
  padding: 5rem 11%;
  background-color: rgb(4, 14, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "rubik";
  height: 60vh;
}
footer .travel-footer {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .travel-footer .address-footer {
  line-height: 25px;
}
footer .travel-footer .address-footer p {
  color: rgb(122, 131, 151);
  font-size: 13px;
}
footer .travel-footer .address-footer .address-links a {
  font-size: 13px;
  color: rgb(122, 131, 151);
}
footer .travel-footer .contact-footer {
  display: flex;
  justify-content: start;
  gap: 20px;
}
footer .travel-footer .contact-footer a {
  font-size: 13px;
  color: rgb(122, 131, 151);
  transition: 0.3s;
}
footer .travel-footer .contact-footer a:hover {
  color: rgb(255, 74, 83);
}
footer .company-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}
footer .company-footer h2 {
  font-weight: 400;
  color: white;
  font-size: 20px;
}
footer .company-footer ul li {
  line-height: 25px;
}
footer .company-footer ul li a {
  font-size: 13px;
  color: rgb(122, 131, 151);
  transition: 0.3s;
}
footer .company-footer ul li a:hover {
  color: rgb(255, 74, 83);
}
footer .popular-destination-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}
footer .popular-destination-footer h2 {
  font-weight: 400;
  color: white;
  font-size: 20px;
}
footer .popular-destination-footer ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
footer .popular-destination-footer ul li {
  line-height: 25px;
}
footer .popular-destination-footer ul li a {
  font-size: 13px;
  color: rgb(122, 131, 151);
  transition: 0.3s;
}
footer .popular-destination-footer ul li a:hover {
  color: rgb(255, 74, 83);
}
footer .instagram-footer {
  height: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
footer .instagram-footer h2 {
  font-size: 20px;
  color: white;
  font-weight: 400;
}
footer .instagram-footer .img-part-instagram {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}
footer .instagram-footer .img-part-instagram .inst-images-footer {
  border-radius: 7px;
  overflow: hidden;
}
footer .instagram-footer .img-part-instagram .inst-images-footer img {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  footer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
    -moz-column-gap: 100px;
         column-gap: 100px;
    justify-content: space-between;
    align-items: center;
  }
  footer .travel-footer {
    width: 80%;
    gap: 20px;
  }
  footer .instagram-footer .img-part-instagram {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  footer {
    row-gap: 50px;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  footer .instagram-footer .img-part-instagram {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .travel-footer {
    width: 100%;
  }
  footer .company-footer {
    width: 100%;
  }
  footer .popular-destination-footer {
    width: 100%;
  }
  footer .instagram-footer {
    width: 100%;
  }
  footer .instagram-footer .img-part-instagram {
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */